<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Simple Node Apps</title>
	<meta charset="utf-8">

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<p class="navbar-brand">Simple Node Apps</p>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item" id="home"><a class="nav-link" target="_blank"
						href="https://brittanyannkos.com">BrittanyAnnKos.com</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<div class="row my-md-5 my-2">
			<h1>Home</h1>
		</div>

		<div class="row mb-2">
			<% apps.forEach( app => { %>
				<div class="col-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								<%= app.name %>
							</h5>
							<a href="<%= app.uri %>" class="btn btn-primary">Go</a>
						</div>
					</div>
				</div>
			<% }) %>
		</div>

	</div>
	
	<!-- Bootstrap -- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	
	</body>
	
	</html>