</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="/">Simple Node Apps</a>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Node Apps
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/">Home</a></li>
						<li><a class="dropdown-item" href="/blogdb">Blog with DB</a></li>
						<li><a class="dropdown-item" href="/todolist">Todo List</a></li>
						<li><a class="dropdown-item" href="/blog">Blog</a></li>
						<li><a class="dropdown-item" href="/newsletter">Newsletter</a></li>
					</ul>
				</li>
				<li class="nav-item" id="home">
					<a class="nav-link" href="https://koscida-simple-react-apps.herokuapp.com/">Simple-React-Apps</a>
				</li>
				<li class="nav-item" id="home">
					<a class="nav-link" target="_blank" href="https://brittanyannkos.com">BrittanyAnnKos.com</a>
				</li>
			</ul>
		</div>
	</nav>

	<div>