<div class="d-flex flex-column h-100">
	
	<div class="flex-shrink-0">
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase">
			<div class="container">
				<div class="navbar-brand fs-4">Daily Journal</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item" id="home"><a class="nav-link" href="/<%= path %>home">Home</a></li>
						<li class="nav-item" id="compose"><a class="nav-link" href="/<%= path %>compose">Compose</a></li>
						<li class="nav-item" id="about"><a class="nav-link" href="/<%= path %>about">About</a></li>
						<li class="nav-item" id="contact"><a class="nav-link" href="/<%= path %>contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
