<!DOCTYPE html>
<html lang="en" dir="ltr" class="h-100">

<head>
	<meta charset="utf-8">
	<title>Daily Journal</title>
	<meta charset="utf-8">
	
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/styles/blog.css">
	
</head>
<body class="d-flex flex-column h-100">
	
	<div class="flex-shrink-0">
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase">
			<div class="container">
				<div class="navbar-brand fs-4">Daily Journal</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item" id="home"><a class="nav-link" href="/blog/home">Home</a></li>
						<li class="nav-item" id="compose"><a class="nav-link" href="/blog/compose">Compose</a></li>
						<li class="nav-item" id="about"><a class="nav-link" href="/blog/about">About</a></li>
						<li class="nav-item" id="contact"><a class="nav-link" href="/blog/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
