<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Success</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		
		<!-- Custom -->
		<link rel="stylesheet" type="text/css" href="styles/newsletter.css" />
	</head>
	<body>
		<div class="wrapper wrapperSuccess bg-image p-5 shadow-1-strong text-white">
			<div class="container h-100">
				<div
					class="row h-100 p-5 mb-4 justify-content-md-center align-items-center"
				>
					<div class="col-md-8 mx-md-auto overlay">
						<h1 class="display-5 fw-bold mb-5">Awesome!</h1>
						<p class="fs-4 mb-4">
							We were able to successfully add your email to the newsletter
							list. Look forward to our awesome updates!
						</p>
						<a class="btn btn-outline-primary btn-lg" href="/newsletter">
							Subscribe another email
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap -- JavaScript Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
	</body>
</html>
