.wrapper {
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.wrapperSignup {
	background-image: url("../images/background-purple_sparks_1920.jpg");
}
.wrapperSignup .overlay {
	background: rgba(230, 230, 230, 0.3);
}
.wrapperSuccess {
	background-image: url("../images/spectrum-lowpoly_1920.jpg");
}
.wrapperSuccess .overlay {
	background: rgba(76, 175, 80, 0.5);
}
.wrapperFailure {
	background-image: url("../images/texture-red_stripe_1920.jpg");
}
.wrapperFailure .overlay {
	background: rgba(175, 76, 91, 0.5);
}

.wrapper .overlay {
	border-radius: 1em;
	padding: 5em 9em;
}
